<div class="container mt-5" style="border: 1px solid black; width : 70%; padding : 12px">
    <div class="row" style="border-bottom: 1px solid black; font-weight: bold;">
        <span style="text-align: center;">CUSTOMER DETAILS</span>
    </div>
    <div class="row mt-4">
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
        <div class="col-sm">
            Name : Priyanshu Kumar
        </div>
    </div>
</div>